Language: Cpp
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
AccessModifierOffset: -4
NamespaceIndentation: All
IndentWidth: 4
TabWidth: 4
IndentPPDirectives: BeforeHash
FixNamespaceComments: false
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 120
PointerAlignment: Left
UseTab: ForContinuationAndIndentation
AlwaysBreakTemplateDeclarations: Yes
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
IndentCaseLabels: true
PackConstructorInitializers: Never
AlignAfterOpenBracket: BlockIndent